<ion-content>

  <ion-button color="transparent" routerLink="/tabs/tab2" class="button2">
    <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
  </ion-button>

  <div class="logo">
    <img src="../../assets/CPS.png">
  </div>

  <form [formGroup]="formProduto">
    <div class="area">
      <div class="login">
      <label class="username"></label>
      <input formControlName="nomeProduto" placeholder="Nome">
    </div>

    <div class="login">
      <label class="senha"></label>
      <input formControlName="descricao" placeholder="Descrição">
    </div>

    <div class="login">
      <label class="username"></label>
      <input formControlName="validade" placeholder="Validade">
    </div>

    <div class="login">
      <label class="senha"></label>
      <input formControlName="preco" placeholder="Preço">
    </div>

  </div>
</form>

<ion-button class="button" (click)="salvarProduto()">Salvar</ion-button>
</ion-content>
