<ion-content>
  <!-- logo ETEC-->
  <div class="logo">
    <img src="../../assets/download-removebg-preview.png" />
  </div>

  <!-- área de login -->
  <div class="area">
    <div class="login">
      <label class="username"></label>
      <input placeholder="E-mail"/>
    </div>

    <div class="login">
      <label class="senha"></label>
      <input type="password" placeholder="Senha" />
    </div>
  </div>

  <p class="forget">Esqueceu a senha?</p>

  <ion-button class="button">Entrar</ion-button>

  <!-- chamada para o usuário efetuar o login de outra maneira -->
  <p class="login2">Faça login com</p>

  <!-- login com facebook -->
  <div class="circle">
    <ion-icon name="logo-facebook" class="icon"></ion-icon>
  </div>

  <!-- login usando o instagram -->
  <div class="circle2">
    <ion-icon name="logo-instagram" class="icon"></ion-icon>
  </div>

  <!-- entrada com linkedin -->
  <div class="circle3">
    <ion-icon name="logo-linkedin" class="icon"></ion-icon>
  </div>

  <!-- chamada para registrar a conta -->
  <p class="registro" routerLink="/registro">
    Ainda não tem uma conta? <b>Crie agora</b>
  </p>

</ion-content>
