<ion-content>

  <ion-button color="transparent" routerLink="/tabs/tab1" class="back">
    <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
  </ion-button>

  <!-- logo ETEC-->
  <div class="logo">
    <img src="../../assets/download-removebg-preview.png" />
  </div>

  <!-- área de login -->
  <form [formGroup]="formLogin" >
    <div class="area">
      <div class="login">
        <label class="username"></label>
        <input formControlName="email" placeholder="E-mail"/>
      </div>

      <div class="login">
        <label class="senha"></label>
        <input formControlName="senha" type="password" placeholder="Senha" />
      </div>
    </div>
  </form>

  <p class="forget">Esqueceu a senha?</p>

  <ion-button class="button" (click)="salvarLogin()">Entrar</ion-button>

  <!-- chamada para o usuário efetuar o login de outra maneira -->
  <p class="login2">Faça login com</p>

  <!-- login com facebook -->
  <div class="circle">
    <ion-icon name="logo-facebook" class="icon"></ion-icon>
  </div>

  <!-- login usando o instagram -->
  <div class="circle2">
    <ion-icon name="logo-instagram" class="icon"></ion-icon>
  </div>

  <!-- entrada com linkedin -->
  <div class="circle3">
    <ion-icon name="logo-linkedin" class="icon"></ion-icon>
  </div>

  <!-- chamada para registrar a conta -->
  <p class="registro" routerLink="/registro">
    Ainda não tem uma conta? <b>Crie agora</b>
  </p>

</ion-content>
