
<ion-content [fullscreen]="true">

  <ion-button routerLink="/login">Login</ion-button>
  <ion-button routerLink="/registro">Registrar-se</ion-button>

  <h1 class="title">Usuários Cadastrados</h1>
  <div class="line"></div>
  <ion-item-sliding *ngFor="let user of listaUsuarios">



    <ion-item class="item2">
      <ion-label>
        <div>

          <h1 class="name">  <ion-icon name="person-outline" class="user"></ion-icon>
            {{user.nome}}
          </h1>
          <span style="float: right; color: rgb(70, 70, 70);">
            <ion-icon name="key-outline"></ion-icon>
            {{user.cpf}}</span>
          <a href="mailto:{{user.email}}">
            <ion-icon name="mail-outline" class="mail"></ion-icon> {{user.email}}</a>
        </div>

      </ion-label>
    </ion-item>

    <ion-item-options side="end" (click)="excluirCadastro(user.email)">
      <ion-item-option color="danger" class="item">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>


  </ion-item-sliding>

</ion-content>
