<ion-content>

  <div class="logo">
    <img src="../../assets/CPS.png">
  </div>

<div class="area">
  <div class="login">
    <label class="username"></label>
    <input placeholder="Nome">
  </div>

  <div class="login">
    <label class="senha"></label>
    <input placeholder="CPF">
  </div>

  <div class="login">
    <label class="username"></label>
    <input placeholder="E-mail">
  </div>

  <div class="login">
    <label class="senha"></label>
    <input type="password" placeholder="Senha">
  </div>

  <div class="login">
    <label class="senha"></label>
    <input type="password" placeholder="Confirmar Senha">
  </div>

</div>

<ion-button class="button" routerLink="/login">Salvar</ion-button>

<p>
<b class="registro" routerLink="/login">Já tenho uma conta</b>
</p>


</ion-content>
