<ion-content>

  <div class="logo">
    <img src="../../assets/CPS.png">
  </div>

  <form [formGroup]="formCadastro">
    <div class="area">
      <div class="login">
      <label class="username"></label>
      <input formControlName="nome" placeholder="Nome">
    </div>

    <div class="login">
      <label class="senha"></label>
      <input formControlName="cpf" placeholder="CPF">
    </div>

    <div class="login">
      <label class="username"></label>
      <input formControlName="email" placeholder="E-mail">
    </div>

    <div class="login">
      <label class="senha"></label>
      <input formControlName="senha" type="password" placeholder="Senha">
    </div>

    <div class="login">
      <label class="senha"></label>
      <input formControlName="confirmaSenha" type="password" placeholder="Confirmar Senha">
    </div>

  </div>
</form>

<ion-button class="button" (click)="salvarCadastro()">Salvar</ion-button>

<p>
<b class="registro" routerLink="/login">Já tenho uma conta</b>
</p>


</ion-content>
